<!Doctype html>
<head>
    <meta name= "viewport" content= "width=device-width, initial-scale=1"/>
    <title>Estate</title>
    <link rel= "stylesheet" type= "text/css" href= "static/css/index.css" >
</head>
<body>
    <header id= "header"class= "heade">
	<div id= "heade">
	    <h1 id= "heads">Estate</h1>
	</div>
    </header>

    <main id= "main">
	<div class= "imgs">
	    <img src= "static/images/house.png" class= "imgs"/>
	    <!-- <center> -->
		
		    <h2>Welcome to Estate.com – Your Trusted Real Estate Partner </h2>

		    <img src= static/images/0673e2edc2ebfb-land-residential-land-for-sale-lekki-lagos.jpg  class= "imgs"/>

		    <p>At Estate.com, we make buying and selling real estate simple, seamless, and secure. Whether you're looking to purchase your dream home, invest in prime land, or sell your property, we're here to connect you with the right opportunities. </p>

		    <h2>What We Do</h2>

		    <h3>1. For Buyers</h3>
		    <p>Discover a diverse range of properties tailored to your needs. From residential homes to commercial spaces and land parcels, we provide detailed listings with all the information you need to make confident decisions. </p>


		    <h3>2. For Sellers </h3>
		    <p>Maximize your reach by showcasing your property to thousands of potential buyers. Our platform ensures your listing stands out, attracting the right audience for a faster and more profitable sale. </p>


		    <h3>3. For Investors </h3>
		    <p>Gain access to lucrative real estate opportunities in growing markets. Estate.com is your gateway to building wealth through strategic property investments.</p>



		    <h2>Why Choose Estate.com? </h2>

		    <h4>Extensive Listings: </h4> <p> A comprehensive database of properties to match every budget and preference. </p>

		    <h4>Trusted Network:</h4> <p> Verified sellers and serious buyers for secure transactions.</p>

		    <h4>Expert Support:</h4><p> A team of professionals ready to guide you at every step of your real estate journey.</p>

		    <h4>User-Friendly Platform:</h4> <p> Intuitive tools to search, compare, and shortlist properties with ease. </p>


		    <h2>Our Mission </h2>

		    <p>To simplify real estate transactions and connect buyers, sellers, and investors through innovative technology and trusted services. </p>

		    <p>Start your journey with Estate.com today. Find your perfect property or list your real estate for the world to see. </p>

		    <p>Your dream property is just a click away! </p>


		
		    <!--</center>-->
	    
	</div>
    </main>

    <footer id= "foot">
	<h5>Contact us</h5>
    </footer>
</body>
